<%- include('../layout/styles.ejs') %>
<title>Đăng kí</title>
<div class="container-fluid">
    <div class="row bg-secondary py-1 px-xl-5">
        <div class="col-lg-6 d-none d-lg-block">
        <div class="d-inline-flex align-items-center h-100">
                <a class="text-body mr-3" href="">www.huytq.vn</a>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <div class="btn-group">

                        <a href="/client/signup" style="text-decoration:none ; color: black;"> Đăng Kí</a>
                        <p style="margin:0 10px 0 10px;">|</p>
                        <a href="/client/login" style="text-decoration:none ;color: black;">Đăng Nhập</a>
                       
                </div>
            </div>
            <div class="d-inline-flex align-items-center d-block d-lg-none">
                <a href="" class="btn px-0 ml-2">
                    <i class="fas fa-heart text-dark"></i>
                    <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">5</span>
                </a>
                <a href="" class="btn px-0 ml-2">
                    <i class="fas fa-shopping-cart text-dark"></i>
                    <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
        <div class="col-lg-4">
            <a href="/client" class="text-decoration-none">
        
                <img src="/user/img/logo.png"alt="no photo" width="150px">
            </a>
        </div>
        <div class="col-lg-4 col-8 text-center">
            <form action="">
                <h1>HUYTQ SHOP</h1>
            </form>
            
        </div>
        <div class="col-lg-4 col-6 text-right">
            <p class="m-0">Tư Vấn & Chăm Sốc Khách Hàng</p>
            <h5 class="m-0">+012 345 6789</h5>
        </div>
    </div>
</div>
<hr>
<div class="col-md-6 offset-md-3">
    <span class="anchor" id="formRegister"></span>
    <!-- form card register -->
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">ĐĂNG KÍ</h3>
        </div>
        <div class="card-body">
            <form action="/client/signup" method="POST" class="form" role="form" autocomplete="off">
                <div class="form-group">
                    <label for="inputName">Họ và tên</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Nhập vào họ và tên" name="name">
                    <% if (typeof error_name !== 'undefined') { %>
                        <span class="error-message" style="color: red">
                          <%= error_name %>
                        </span>
                      <% } %>
                </div>
                <div class="form-group">
                    <label for="inputName">Tên đăng nhập</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Nhập vào tên đăng nhập" name="username">
                    <% if (typeof error_username !== 'undefined') { %>
                        <span class="error-message" style="color: red">
                          <%= error_username %>
                        </span>
                      <% } %>
                </div>
                <div class="form-group">
                    <label for="inputEmail3">Email</label>
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Nhập vào Email" name="email">
                    <% if (typeof error_email !== 'undefined') { %>
                        <span class="error-message" style="color: red">
                          <%= error_email %>
                        </span>
                      <% } %>
                </div>

                

                <div class="form-group">
                    <label for="inputPassword3">Mật khẩu</label>
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Nhập vào mật khẩu"
                           name="password">
                </div>

                <div class="form-group">
                    <label for="inputPassword3">Xác nhận mật khẩu</label>
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Nhập lại mật khẩu"
                           name="confirmPassword">
                           <% if (typeof error_password !== 'undefined') { %>
                            <span class="error-message" style="color: red">
                              <%= error_password %>
                            </span>
                          <% } %>
                </div>
                <div class="form-group" >
                    <input type="hidden"  name="role" class="form-control" value="1" >
                  
                  </div>
                <button type="submit" class="btn btn-primary btn-lg float-left btn-block" id="btnLogin" name="signup">
                    Đăng ký
                </button>
        </div>

        </form>
        <br>
        
    </div>
</div>